.duc_root .theme-light {
	--header-primary: var(--primary-860);
	--header-secondary: var(--primary-500);
	--text-normal: var(--primary-600);
	--text-link: var(--blue-430);

	--elevation-high: 0 8px 16px hsl(var(--black-500-hsl) / 0.16);

	--background-modifier-accent: hsl(var(--primary-400-hsl) / 0.24);
	--background-secondary: var(--primary-130);
	--background-secondary-alt: var(--primary-160);
	--button-secondary-background: var(--primary-430);
	--background-floating: var(--white-500);
	--background-modifier-hover: hsl(var(--primary-400-hsl) / 0.16);
	--border-faint: hsl(var(--black-500-hsl) / 0.04);
	--background-tertiary:var(--primary-200);
	--interactive-normal: var(--primary-500);
	--interactive-active: var(--primary-860);
	--interactive-hover: var(--primary-600);
	--interactive-muted: var(--primary-300);
	--mention-background: hsl(var(--brand-500-hsl) / 0.15);
	--mention-foreground: var(--brand-500);
	--modal-background: var(--white-500);

	--scrollbar-thin-thumb: hsl(var(--primary-500-hsl) / 0.3);
	--scrollbar-thin-track: hsl(var(--black-500-hsl) / 0);

	--__spoiler-background-color--revealed: hsl(var(--black-500-hsl) / 0.1);
	--__spoiler-text-color--hidden: transparent;
	--__spoiler-background-color--hidden: var(--primary-300);
  --__spoiler-background-color--hidden--hover: hsl(var(--primary-300-hsl) / 0.8);

	--theme-base-color: var(--theme-base-color-light);
	--theme-text-color: var(--theme-text-color-light);
	--theme-base-color-hsl: var(--theme-base-color-light-hsl);
}
@supports (color: color-mix(in lch, red, blue)) and (top: var(--f)) {
	.duc_root .theme-light {
		--header-primary: color-mix(
			in oklab,
			var(--primary-860) 100%,
			var(--custom-theme-mix-text, black)
				var(--custom-theme-mix-amount-text, 0%)
		);
		--header-secondary: color-mix(
			in oklab,
			var(--primary-500) 100%,
			var(--theme-text-color, black)
				var(--theme-text-color-amount, 0%)
		);
		--text-normal: color-mix(
			in oklab,
			var(--primary-600) 100%,
			var(--custom-theme-mix-text, black)
				var(--custom-theme-mix-amount-text, 0%)
		);

		--background-modifier-accent: color-mix(
			in oklab,
			hsl(var(--primary-400-hsl) / 0.24) 100%,
			hsl(var(--custom-theme-mix-base-hsl, 0 0% 0%) / 0.24)
				var(--custom-theme-mix-amount-base, 0%)
		);
		--background-secondary: color-mix(
			in oklab,
			var(--primary-130) 100%,
			var(--theme-base-color, black)
				var(--theme-base-color-amount, 0%)
		);
		--background-secondary-alt: color-mix(
			in oklab,
			var(--primary-160) 100%,
			var(--custom-theme-mix-base, black)
				var(--custom-theme-mix-amount-base, 0%)
		);
		--button-secondary-background: color-mix(
			in oklab,
			var(--primary-430) 100%,
			var(--custom-theme-mix-base, black)
				var(--custom-theme-mix-amount-base, 0%)
		);
		--background-floating: color-mix(
			in oklab,
			var(--white-500) 100%,
			var(--custom-theme-mix-base, black)
				var(--custom-theme-mix-amount-base, 0%)
		);
		--background-modifier-hover: color-mix(
			in oklab,
			hsl(var(--primary-400-hsl) / 0.16) 100%,
			hsl(var(--custom-theme-mix-base-hsl, 0 0% 0%) / 0.16)
				var(--custom-theme-mix-amount-base, 0%)
		);
		--border-faint: color-mix(
			in oklab,
			hsl(var(--black-500-hsl) / 0.04) 100%,
			hsl(var(--custom-theme-mix-base-hsl, 0 0% 0%) / 0.04)
				var(--custom-theme-mix-amount-base, 0%)
		);
		--background-tertiary: color-mix(
			in oklab,
			var(--primary-200) 100%,
			var(--custom-theme-mix-base, black)
				var(--custom-theme-mix-amount-base, 0%)
		);
		--interactive-normal: color-mix(
			in oklab,
			var(--primary-500) 100%,
			var(--custom-theme-mix-text, black)
				var(--custom-theme-mix-amount-text, 0%)
		);
		--interactive-active: color-mix(
			in oklab,
			var(--primary-860) 100%,
			var(--theme-text-color, black)
				var(--theme-text-color-amount, 0%)
		);
		--interactive-hover: color-mix(
			in oklab,
			var(--primary-600) 100%,
			var(--theme-text-color, black)
				var(--theme-text-color-amount, 0%)
		);
		--interactive-muted: color-mix(
			in oklab,
			var(--primary-300) 100%,
			var(--theme-text-color, black)
				var(--theme-text-color-amount, 0%)
		);
		--mention-background: color-mix(
			in oklab,
			hsl(var(--brand-500-hsl) / 0.15) 100%,
			hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.15)
				var(--theme-base-color-amount, 0%)
		);
		--mention-foreground: color-mix(
			in oklab,
			var(--brand-500) 100%,
			var(--theme-text-color, black)
				var(--theme-text-color-amount, 0%)
		);
		--modal-background: color-mix(
			in oklab,
			var(--white-500) 100%,
			var(--theme-base-color, black)
				var(--theme-base-color-amount, 0%)
		);

		--scrollbar-thin-thumb: color-mix(
			in oklab,
			hsl(var(--primary-500-hsl) / 0.3) 100%,
			hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0.3)
				var(--theme-base-color-amount, 0%)
		);
		--scrollbar-thin-track: color-mix(
			in oklab,
			hsl(var(--black-500-hsl) / 0) 100%,
			hsl(var(--theme-base-color-hsl, 0 0% 0%) / 0)
				var(--theme-base-color-amount, 0%)
		);
	}
}


@media all and (-webkit-max-device-pixel-ratio: 1) {
	.duc_root .theme-light ::-moz-placeholder {
		font-weight: 500;
	}
	.duc_root .theme-light select,
	.duc_root .theme-light textarea,
	.duc_root .theme-light input,
	.duc_root .theme-light ::placeholder {
		font-weight: 500;
	}
}

.duc_root .theme-light {
	.hljs-doctag,
	.hljs-keyword,
	.hljs-meta .hljs-keyword,
	.hljs-template-tag,
	.hljs-template-variable,
	.hljs-type,
	.hljs-variable.language_ {
			color: #d73a49
	}

	.hljs-title,
	.hljs-title.class_,
	.hljs-title.class_.inherited__,
	.hljs-title.function_ {
			color: #6f42c1
	}

	.hljs-attr,
	.hljs-attribute,
	.hljs-literal,
	.hljs-meta,
	.hljs-number,
	.hljs-operator,
	.hljs-variable,
	.hljs-selector-attr,
	.hljs-selector-class,
	.hljs-selector-id {
			color: #005cc5
	}

	.hljs-regexp,
	.hljs-string,
	.hljs-meta .hljs-string {
			color: #032f62
	}

	.hljs-built_in,
	.hljs-symbol {
			color: #e36209
	}

	.hljs-comment,
	.hljs-code,
	.hljs-formula {
			color: #6a737d
	}

	.hljs-name,
	.hljs-quote,
	.hljs-selector-tag,
	.hljs-selector-pseudo {
			color: #22863a
	}

	.hljs-subst {
			color: #24292e
	}

	.hljs-section {
			color: #005cc5;
			font-weight: 700
	}

	.hljs-bullet {
			color: #735c0f
	}

	.hljs-emphasis {
			color: #24292e;
			font-style: italic
	}

	.hljs-strong {
			color: #24292e;
			font-weight: 700
	}

	.hljs-addition {
			color: #22863a;
			background-color: #f0fff4
	}

	.hljs-deletion {
			color: #b31d28;
			background-color: #ffeef0
	}
}
