.duc_emoji_container {
	display: inline-block;
}

.duc_emoji {
	-o-object-fit: contain;
	object-fit: contain;
	width: var(--custom-emoji-size-emoji);
	height: var(--custom-emoji-size-emoji);
	vertical-align: bottom;
}

.duc_divider {
	margin: 12px 12px 0;
	height: 1px;
	position: sticky;
	top: 0;
	background-color: var(--profile-body-divider-color);
}

.duc_section {
	padding-top: 12px;
}

.duc_section:last-child {
	padding-bottom: 12px;
}

.duc_user_profile_themed {
	background: linear-gradient(
		var(--profile-gradient-primary-color),
		var(--profile-gradient-secondary-color)
	);
}

.duc_user_profile_outer.duc_user_profile_themed {
	padding: 4px;
}

.duc_user_profile_outer {
	--custom-user-popout-outside-components-height: 1px;
	box-shadow: var(--elevation-high);
	max-height: calc(
		100vh - 20px - var(--custom-user-popout-outside-components-height)
	);
	width: var(--custom-user-profile-themed-container-user-popout-width);
	overflow: hidden;
	position: relative;
	border-radius: var(--radius-sm);
}

.duc_user_profile_inner {
	max-height: calc(
		100vh - 28px - var(--custom-user-popout-outside-components-height)
	);
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border-radius: var(--radius-sm) var(--radius-sm) 0 0;
	background: linear-gradient(
		var(--profile-gradient-primary-color),
		var(--profile-gradient-primary-color)
			var(--custom-user-banner-premium-banner-height-popout),
		var(--profile-gradient-secondary-color)
	);
}

.duc_user_profile_inner::before {
	content: "";
	position: absolute;
	background: var(--profile-gradient-overlay-color);
	pointer-events: none;
	border-radius: var(--radius-xs);
	width: calc(100% - 8px);
	height: calc(100% - 8px);
}

.duc_profile_badges {
	box-sizing: content-box;
	position: relative;
	top: 12px;
	right: 16px;
	width: fit-content;
	align-self: flex-end;
	background-color: var(--profile-body-background-color);
	border-radius: var(--radius-sm);
	max-width: 190px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	gap: 2px;
	min-height: 22px;

	&:has(.duc_profile_badge) {
		padding: 4px;
	}
}

.duc_profile_badge {
	width: 22px;
	height: 22px;
	display: block;
	background-repeat: no-repeat;
	background-size: contin;
	background-position: center;
	overflow: hidden;
	pointer-events: none;
	-o-object-fit: cover;
	object-fit: cover;
	filter: saturate(1);
}

.duc_banner_wrapper {
	z-index: 0;
	contain: paint;
}

.duc_banner {
	transition: background-color 0.1s;
	width: 100%;
	border-radius: var(--radius-xs) var(--radius-xs) 0 0;
	height: var(--custom-user-banner-banner-height-popout);
}

.duc_banner_premium {
	height: var(--custom-user-banner-premium-banner-height-popout);
	min-height: var(--custom-user-banner-premium-banner-height-popout);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.avatarStack {
	display: grid;
	width: 100%;
	height: 100%;
}

.avatar {
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
	pointer-events: none;
	width: 100%;
	height: 100%;
	grid-area: 1 / 1;
}

.avatarSvg {
	position: absolute;
	contain: paint;
	width: auto;
	display: block;
	pointer-events: none;
}

.avatarDecoration {
	position: absolute;
	contain: paint;
	pointer-events: none;
	top: var(--custom-avatar-avatar-decoration-border-position);
	left: var(--custom-avatar-avatar-decoration-border-position);
}

.avatarWrapper {
	position: absolute;
	z-index: 0;
	top: 80px;
	left: 22px;
	border-radius: 50%;
}

.avatarWrapperPositionPremiumBanner {
	top: 76px;
}

.avatarPositionNormal {
	top: 16px;
}

.avatarWrapperInner {
	position: relative;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.avatar::before {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--background-modifier-accent);
}

.duc_username_section {
	padding-top: 12px;
	padding-right: 12px;
	padding-left: 12px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.duc_pronouns {
	display: inline-block;
	user-select: none;
	padding-top: 2px;
	font-family: var(--font-primary);
	font-size: 14px;
	line-height: 1.2857142857142858;
	font-weight: 400;
	color: var(--text-normal);
}

.duc_display_name {
	word-break: break-word;
	font-family: var(--font-display);
	font-size: 20px;
	line-height: 1.2;
	font-weight: 600;
	color: var(--header-primary);
}

.duc_user_text {
	user-select: text;
}

.duc_user_tag {
	font-family: var(--font-primary);
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	display: block;
	overflow: hidden;
	white-space: nowrap;
}

.duc_user_tag_username {
	overflow: auto;
	word-break: break-all;
	text-overflow: clip;
	white-space: normal;
	color: var(--header-primary);
	vertical-align: top;
	display: inline;
}

.duc_user_section {
	display: flex;
	position: relative;
	flex-direction: column;
	overflow: hidden;
	border-radius: var(--radius-sm);
	background-color: var(--profile-body-background-color);
	margin: 28px 16px 16px;
	max-height: calc(
		100vh - 128px - var(--custom-user-popout-outside-components-height)
	);
}

.duc_discriminator {
	color: var(--header-primary);
	vertical-align: top;
}

.duc_bot_tag {
	height: 15px;
	padding: 0 4px;
	margin-top: 1px;
	border-radius: 4px;
	margin-bottom: 2px;
	display: inline-flex;
	line-height: 15px;
	margin-left: 1ch;
	background: var(--brand-experiment);
	color: var(--white-500);
	font-size: 0.625rem;
	text-transform: uppercase;
	vertical-align: top;
	align-items: center;
	text-indent: 0;
}

.duc_bot_tag_verified {
	width: 16px;
	height: 16px;
	margin-left: -4px;
	display: inline-block;
}

.duc_bot_text {
	font-size: 10px;
	line-height: 15px;
	position: relative;
	font-weight: 500;
	vertical-align: top;
}

.customStatusSection {
	padding-top: 12px;
	padding-right: 12px;
	padding-left: 12px;
}

.customStatusSection {
	box-sizing: border-box;
	position: relative;
	width: 100%;
	word-wrap: break-word;
	font-size: 14px;
	line-height: 18px;
	color: var(--text-normal);
}

.customStatusImg {
	display: block;
	margin: -1px 4px -1px 0;
	float: left;
	width: 20px;
	height: 20px;
	-o-object-fit: contain;
	object-fit: contain;
}

.customStatusText {
	user-select: text;
}

.duc_section_title {
	display: flex;
	font-weight: 700;
	margin-bottom: 6px;
	color: var(--header-primary);
	font-family: var(--font-display);
	font-size: 12px;
	line-height: 1.3333333333333333;
	text-transform: uppercase;
	letter-spacing: 0.02em;
}

.duc_section_text {
	-webkit-line-clamp: 6;
	font-family: var(--font-primary);
	font-size: 14px;
	line-height: 1.2857142857142858;
	font-weight: 400;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	color: var(--text-normal);
}
