.duc_root {
	/** Radius */
	--radius-xs: 4px;
	--radius-sm: 8px;

	--decoration-to-avatar-ratio: 1.2;
	--custom-avatar-avatar-decoration-border-position: calc(
		(1 - var(--decoration-to-avatar-ratio)) / 2 * 100%
	);
	--custom-user-banner-banner-height-popout: 60px;
	--custom-user-banner-premium-banner-height-popout: 120px;
	--custom-user-profile-themed-container-user-popout-width: 340px;
	--custom-emoji-size-emoji: 1.375em;

	--custom-button-link-underline-width: 1px;
	--custom-button-link-underline-offset: 1px;
	--custom-button-link-underline-stop: calc(
		var(--custom-button-link-underline-width) +
			var(--custom-button-link-underline-offset)
	);
	--button--underline-color: transparent;

	--primary-130: hsl(var(--primary-130-hsl) / 1);
	--primary-130-hsl: 220 calc(var(--saturation-factor, 1) * 13%) 95.5%;
	--primary-160: hsl(var(--primary-160-hsl) / 1);
	--primary-160-hsl: 210 calc(var(--saturation-factor, 1) * 11.1%) 92.9%;
	--primary-200: hsl(var(--primary-200-hsl) / 1);
	--primary-200-hsl: 216 calc(var(--saturation-factor, 1) * 9.8%) 90%;
	--primary-230: hsl(var(--primary-230-hsl) / 1);
	--primary-230-hsl: 210 calc(var(--saturation-factor, 1) * 9.1%) 87.1%;
	--primary-330: hsl(var(--primary-330-hsl) / 1);
	--primary-330-hsl: 215 calc(var(--saturation-factor, 1) * 8.8%) 73.3%;
	--primary-400: hsl(var(--primary-400-hsl) / 1);
	--primary-400-hsl: 223 calc(var(--saturation-factor, 1) * 5.8%) 52.9%;
	--primary-430: hsl(var(--primary-430-hsl) / 1);
	--primary-430-hsl: 229 calc(var(--saturation-factor, 1) * 4.8%) 44.9%;
	--primary-500: hsl(var(--primary-500-hsl) / 1);
	--primary-500-hsl: 228 calc(var(--saturation-factor, 1) * 6%) 32.5%;
	--primary-600: hsl(var(--primary-600-hsl) / 1);
	--primary-600-hsl: 223 calc(var(--saturation-factor, 1) * 6.7%) 20.6%;
	--primary-660: hsl(var(--primary-660-hsl) / 1);
	--primary-660-hsl: 228 calc(var(--saturation-factor, 1) * 6.7%) 14.7%;
	--primary-700: hsl(var(--primary-700-hsl) / 1);
	--primary-700-hsl: 225 calc(var(--saturation-factor, 1) * 6.3%) 12.5%;
	--primary-800: hsl(var(--primary-800-hsl) / 1);
	--primary-800-hsl: 220 calc(var(--saturation-factor, 1) * 8.1%) 7.3%;
	--primary-860: hsl(var(--primary-860-hsl) / 1);
	--primary-860-hsl: 240 calc(var(--saturation-factor, 1) * 7.7%) 2.5%;
	--white-500: hsl(var(--white-500-hsl) / 1);
	--white-500-hsl: 0 calc(var(--saturation-factor, 1) * 0%) 100%;
	--black-500: hsl(var(--black-500-hsl) / 1);
	--black-500-hsl: 0 calc(var(--saturation-factor, 1) * 0%) 0%;
	--blue-345: hsl(var(--blue-345-hsl) / 1);
	--blue-345-hsl: 200 calc(var(--saturation-factor, 1) * 100%) 49.4%;
	--blue-430: hsl(var(--blue-430-hsl) / 1);
	--blue-430-hsl: 212 calc(var(--saturation-factor, 1) * 100%) 45.3%;
	--brand-experiment: var(--brand-500);
	--brand-500: hsl(var(--brand-500-hsl) / 1);
	--brand-500-hsl: 235 calc(var(--saturation-factor, 1) * 85.6%) 64.7%;
}

.duc_root {
	line-height: 1;
	margin: 0;
	padding: 0;
	font-family: var(--font-primary);
	overflow: hidden;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	background: transparent;
}

.duc_root {
	::-moz-placeholder {
		font-family: var(--font-primary);
		font-weight: 400;
		text-rendering: optimizeLegibility;
	}
	textarea,
	input,
	button,
	select,
	::placeholder {
		font-family: var(--font-primary);
		font-weight: 400;
		text-rendering: optimizeLegibility;
	}
	a,
	div,
	span,
	strong,
	button,
	input,
	textarea,
	select,
	label {
		outline: 0;
	}
	img[alt] {
		text-indent: -9999px;
	}

	div,
	span,
	applet,
	object,
	iframe,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	blockquote,
	pre,
	a,
	abbr,
	acronym,
	address,
	big,
	cite,
	code,
	del,
	dfn,
	em,
	img,
	ins,
	kbd,
	q,
	s,
	samp,
	small,
	strike,
	strong,
	tt,
	var,
	dl,
	dt,
	dd,
	ol,
	ul,
	li,
	fieldset,
	form,
	label,
	legend,
	table,
	caption,
	tbody,
	tfoot,
	thead,
	tr,
	th,
	td {
		margin: 0;
		padding: 0;
		border: 0;
		font-weight: inherit;
		font-style: inherit;
		font-family: inherit;
		font-size: 100%;
		vertical-align: baseline;
	}
	a {
		color: var(--text-link);
		-webkit-text-decoration: none;
		text-decoration: none;
		cursor: pointer;
	}
	a img {
		border: none;
	}
	p {
		margin: 14px 0;
	}
	ol,
	ul {
		list-style: none;
	}
	strong {
		font-weight: 600;
	}
	button {
		font-family: var(--font-primary);
		font-weight: 500;
		border: 0;
		cursor: pointer;
	}
	code {
		font-family: var(--font-code);
		font-size: 14px;
		line-height: 16px;
	}
}
