.duc_inline_code {
	width: auto;
	height: auto;
	padding: 0 .2em;
	margin: -.2em 0;
	border-radius: 4px;
	font-size: 85%;
	font-family: var(--font-code);
	text-indent: 0;
	text-indent: 0;
	white-space: pre-wrap;
}
