.duc_user_mention {
	transition: background-color 50ms ease-out, color 50ms ease-out;
	cursor: pointer;
	border-radius: 3px;
	padding: 0 2px;
	font-weight: 500;
	unicode-bidi: plaintext;
	color: var(--mention-foreground);
	background: var(--mention-background);

	&:hover {
		text-decoration: underline;
		color: var(--white-500);
    background-color: var(--brand-500);
	}
}
