@font-face {
	font-family: "ABC Ginto Nord";
	font-style: normal;
	font-weight: 800;
	src: url(https://cdn.rcd.gg/discord/fonts/ABC_Ginto_Nord_800.woff2)
		format("woff2");
}
@font-face {
	font-family: "ABC Ginto Nord";
	font-style: italic;
	font-weight: 800;
	src: url(https://cdn.rcd.gg/discord/fonts/ABC_Ginto_Nord_800_italic.woff2)
		format("woff2");
}
@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 400;
	src: url(https://cdn.rcd.gg/discord/fonts/gg_sans_400.woff2) format("woff2");
}
@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 400;
	src: url(https://cdn.rcd.gg/discord/fonts/gg_sans_400_italic.woff2)
		format("woff2");
}
@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 500;
	src: url(https://cdn.rcd.gg/discord/fonts/gg_sans_500.woff2) format("woff2");
}
@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 500;
	src: url(https://cdn.rcd.gg/discord/fonts/gg_sans_500_italic.woff2)
		format("woff2");
}
@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 600;
	src: url(https://cdn.rcd.gg/discord/fonts/gg_sans_600.woff2) format("woff2");
}
@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 600;
	src: url(https://cdn.rcd.gg/discord/fonts/gg_sans_600_italic.woff2)
		format("woff2");
}
@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 700;
	src: url(https://cdn.rcd.gg/discord/fonts/gg_sans_700.woff2) format("woff2");
}
@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 700;
	src: url(https://cdn.rcd.gg/discord/fonts/gg_sans_700_italic.woff2)
		format("woff2");
}
@font-face {
	font-family: "gg sans";
	font-style: normal;
	font-weight: 800;
	src: url(https://cdn.rcd.gg/discord/fonts/gg_sans_800.woff2) format("woff2");
}
@font-face {
	font-family: "gg sans";
	font-style: italic;
	font-weight: 800;
	src: url(https://cdn.rcd.gg/discord/fonts/gg_sans_800_italic.woff2)
		format("woff2");
}
@font-face {
	font-family: "gg mono";
	font-style: normal;
	font-weight: 400;
	src: url(https://cdn.rcd.gg/discord/fonts/gg_mono_400.woff2) format("woff2");
}
@font-face {
	font-family: "gg mono";
	font-style: normal;
	font-weight: 700;
	src: url(https://cdn.rcd.gg/discord/fonts/gg_mono_700.woff2) format("woff2");
}
@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 400;
	src: url(https://cdn.rcd.gg/discord/fonts/Noto_Sans_400.woff2) format("woff2");
}
@font-face {
	font-family: "Noto Sans";
	font-style: italic;
	font-weight: 400;
	src: url(https://cdn.rcd.gg/discord/fonts/Noto_Sans_400_italic.woff2)
		format("woff2");
}
@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 500;
	src: url(https://cdn.rcd.gg/discord/fonts/Noto_Sans_500.woff2) format("woff2");
}
@font-face {
	font-family: "Noto Sans";
	font-style: italic;
	font-weight: 500;
	src: url(https://cdn.rcd.gg/discord/fonts/Noto_Sans_500_italic.woff2)
		format("woff2");
}
@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 600;
	src: url(https://cdn.rcd.gg/discord/fonts/Noto_Sans_600.woff2) format("woff2");
}
@font-face {
	font-family: "Noto Sans";
	font-style: italic;
	font-weight: 600;
	src: url(https://cdn.rcd.gg/discord/fonts/Noto_Sans_600_italic.woff2)
		format("woff2");
}
@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 700;
	src: url(https://cdn.rcd.gg/discord/fonts/Noto_Sans_700.woff2) format("woff2");
}
@font-face {
	font-family: "Noto Sans";
	font-style: italic;
	font-weight: 700;
	src: url(https://cdn.rcd.gg/discord/fonts/Noto_Sans_700_italic.woff2)
		format("woff2");
}
@font-face {
	font-family: "Noto Sans";
	font-style: normal;
	font-weight: 800;
	src: url(https://cdn.rcd.gg/discord/fonts/Noto_Sans_800.woff2) format("woff2");
}
@font-face {
	font-family: "Noto Sans";
	font-style: italic;
	font-weight: 800;
	src: url(https://cdn.rcd.gg/discord/fonts/Noto_Sans_800_italic.woff2)
		format("woff2");
}
@font-face {
	font-family: "Source Code Pro";
	font-style: normal;
	font-weight: 400;
	src: url(https://cdn.rcd.gg/discord/fonts/Source_Code_Pro_400.woff2)
		format("woff2");
}
@font-face {
	font-family: "Source Code Pro";
	font-style: normal;
	font-weight: 700;
	src: url(https://cdn.rcd.gg/discord/fonts/Source_Code_Pro_700.woff2)
		format("woff2");
}
@font-face {
	font-family: "Corinthia";
	font-style: normal;
	font-weight: 400;
	src: url(https://cdn.rcd.gg/discord/fonts/Corinthia.woff2) format("woff2");
}
@font-face {
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 300 800;
	src: url(https://cdn.rcd.gg/discord/fonts/Fraunces.woff2) format("woff2");
}

.duc_root {
	--font-primary: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	--font-display: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	--font-code: "gg mono", "Source Code Pro", Consolas, "Andale Mono WT",
		"Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
		"DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
		"Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

*:lang(el) .duc_root,
*:lang(ru) .duc_root,
*:lang(uk) .duc_root,
*:lang(bg) .duc_root {
	--font-primary: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	--font-display: "gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	--font-code: "gg mono", "Source Code Pro", Consolas, "Andale Mono WT",
		"Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
		"DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
		"Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

*:lang(ko) .duc_root {
	--font-primary: "gg sans", "Apple SD Gothic Neo", NanumBarunGothic,
		"ë§‘ì€ ê³ ë”•", "Malgun Gothic", Gulim, êµ´ë¦¼, Dotum, ë‹ì›€, "Noto Sans",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-display: "gg sans", "Apple SD Gothic Neo", NanumBarunGothic,
		"ë§‘ì€ ê³ ë”•", "Malgun Gothic", Gulim, êµ´ë¦¼, Dotum, ë‹ì›€, "Noto Sans",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-code: "gg mono", "Source Code Pro", Consolas, "Andale Mono WT",
		"Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
		"DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
		"Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

*:lang(ja) .duc_root {
	--font-primary: "gg sans", "Hiragino Sans", "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ ProN W3",
		"Hiragino Kaku Gothic ProN", ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, Osaka, "MS PGothic",
		"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-display: "gg sans", "Hiragino Sans", "ãƒ’ãƒ©ã‚®ãƒŽè§’ã‚´ ProN W3",
		"Hiragino Kaku Gothic ProN", ãƒ¡ã‚¤ãƒªã‚ª, Meiryo, Osaka, "MS PGothic",
		"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-code: "gg mono", "Source Code Pro", Consolas, "Andale Mono WT",
		"Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
		"DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
		"Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

*:lang(zh-CN) .duc_root {
	--font-primary: "gg sans", "Microsoft YaHei New", å¾®è½¯é›…é»‘,
		"Microsoft Yahei", "Microsoft JhengHei", å®‹ä½“, SimSun, "Noto Sans",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-display: "gg sans", "Microsoft YaHei New", å¾®è½¯é›…é»‘,
		"Microsoft Yahei", "Microsoft JhengHei", å®‹ä½“, SimSun, "Noto Sans",
		"Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-code: "gg mono", "Source Code Pro", Consolas, "Andale Mono WT",
		"Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
		"DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
		"Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

*:lang(zh-TW) .duc_root {
	--font-primary: "gg sans", "Microsoft JhengHei", å¾®è»Ÿæ­£é»‘é«”,
		"Microsoft JhengHei UI", "Microsoft YaHei", å¾®è»Ÿé›…é»‘, å®‹ä½“, SimSun,
		"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-display: "gg sans", "Microsoft JhengHei", å¾®è»Ÿæ­£é»‘é«”,
		"Microsoft JhengHei UI", "Microsoft YaHei", å¾®è»Ÿé›…é»‘, å®‹ä½“, SimSun,
		"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-code: "gg mono", "Source Code Pro", Consolas, "Andale Mono WT",
		"Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
		"DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
		"Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}
