.duc_markdown {
	font-size: 1rem;
	line-height: 1.375rem;
	white-space: pre-wrap;
	white-space: break-spaces;
	word-wrap: break-word;
	-webkit-user-select: text;
	-moz-user-select: text;
	user-select: text;
	color: var(--text-normal);
}

.duc_markdown a {
	color: var(--text-link);
	word-break: break-word;
	-webkit-text-decoration: var(--link-decoration);
	text-decoration: var(--link-decoration);
	cursor: pointer;
}

.duc_markdown a:hover {
	-webkit-text-decoration: underline;
	text-decoration: underline;
}

.duc_markdown strong {
	font-weight: 700;
}

.duc_markdown em {
	font-style: italic;
}

.duc_markdown pre {
	box-sizing: border-box;
	border-radius: 4px;
	padding: 0;
	font-family: var(--font-code);
	font-size: 0.75rem;
	line-height: 1rem;
	margin-top: 6px;
	max-width: 90%;
	white-space: pre-wrap;
	background-clip: border-box;
}

.duc_markdown blockquote {
	max-width: 90%;
	box-sizing: border-box;
	text-indent: 0;
	text-indent: 0;
}

.duc_markdown blockquote pre {
	max-width: 100%;
}

.duc_markdown small:not(.inlineFormat__5222c) {
	display: block;
	color: var(--text-muted);
	font-size: 0.8125rem;
	line-height: 1.11719rem;
}

.duc_markdown small.inlineFormat__5222c:after {
	content: " ";
}

.duc_markdown code {
	font-size: 0.875rem;
	line-height: 1.125rem;
	text-indent: 0;
	text-indent: 0;
	white-space: pre-wrap;
	background: var(--background-secondary);
	border: 1px solid var(--background-tertiary);
}

.duc_markdown .no-webkit-scrollbar code {
	scrollbar-width: thin;
	scrollbar-color: var(--background-tertiary) var(--background-secondary);
}

.duc_markdown .inline {
	width: auto;
	height: auto;
	padding: 0 0.2em;
	margin: -0.2em 0;
	border-radius: 4px;
	font-size: 85%;
	font-family: var(--font-code);
	text-indent: 0;
	text-indent: 0;
	white-space: pre-wrap;
}

.duc_markdown .codeContainer__49b46 {
	position: relative;
}

.duc_markdown .codeActions__13d69 {
	position: absolute;
	display: none;
	right: 4px;
	top: 8px;
}

.duc_markdown .codeActions__13d69 > div {
	cursor: pointer;
}

.duc_markdown .codeContainer__49b46:hover .codeActions__13d69 {
	display: block;
}

.duc_markdown.inlineFormat__5222c li,
.duc_markdown .inlineFormat__5222c li {
	display: inline;
	margin: 0;
	padding-right: 8px;
}

.duc_markdown.inlineFormat__5222c li:before,
.duc_markdown .inlineFormat__5222c li:before {
	content: "â€¢";
	padding-right: 4px;
}

.duc_markdown.inlineFormat__5222c li li:before,
.duc_markdown .inlineFormat__5222c li li:before {
	content: "â—‹";
	font-size: 0.625rem;
	padding: 0 4px 4px;
	line-height: 1rem;
}

.duc_markdown li {
	white-space: break-spaces;
	margin-bottom: 4px;
}

.duc_markdown ul,
.duc_markdown ol {
	margin: 4px 0 0 16px;
	list-style-position: outside;
}

.duc_markdown ul.inlineFormat__5222c,
.duc_markdown ol.inlineFormat__5222c {
	display: inline;
	margin: 0;
	padding: 0 8px 0 0;
}

.duc_markdown ul {
	list-style-type: disc;
}

.duc_markdown ol {
	list-style-type: decimal;
	margin-left: calc(0.4em + 0.6em * var(--totalCharacters));
}

.duc_markdown ul ul,
.duc_markdown ol ul {
	list-style-type: circle;
	margin-bottom: 0;
}

.duc_markdown ol ol,
.duc_markdown ul ol {
	margin-bottom: 0;
}

.duc_markdown h1,
.duc_markdown h2,
.duc_markdown h3,
.duc_markdown h4,
.duc_markdown h5,
.duc_markdown h6 {
	font-family: var(--font-display);
	font-weight: 700;
	color: var(--header-primary);
	line-height: 1.375em;
	margin: 16px 0 4px;
}

.duc_markdown h1.inlineFormat__5222c,
.duc_markdown h2.inlineFormat__5222c,
.duc_markdown h3.inlineFormat__5222c,
.duc_markdown h4.inlineFormat__5222c,
.duc_markdown h5.inlineFormat__5222c,
.duc_markdown h6.inlineFormat__5222c {
	margin: 0 !important;
	font-weight: 600;
	font-size: inherit;
	white-space: normal;
	padding-right: 16px;
	line-height: 1.25em;
	color: inherit;
	display: inline;
}

.duc_markdown h1 {
	font-size: 1.5rem;
	margin: 16px 0 8px;
}

.duc_markdown h2 {
	font-size: 1.25rem;
	margin: 16px 0 8px;
}

.duc_markdown h3 {
	font-size: 1rem;
	margin: 16px 0 8px;
}

.duc_markdown h1:first-child,
.duc_markdown h2:first-child {
	margin-top: 8px;
}

.duc_markdown h3:first-child,
.duc_markdown h4:first-child,
.duc_markdown h5:first-child,
.duc_markdown h6:first-child {
	margin-top: 4px;
}

@media all and (-webkit-max-device-pixel-ratio: 1) {
	.theme-light .duc_markdown {
		font-weight: 500;
	}
}
