.duc_profile_badges {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	gap: 2px;
	min-height: 22px;

	&:empty {
		visibility: hidden;
	}

	&.duc_user_card {
		box-sizing: content-box;
		position: relative;
		top: 12px;
		right: 16px;
		width: fit-content;
		align-self: flex-end;
		background-color: var(--profile-body-background-color);
		border-radius: var(--radius-sm);
		max-width: 190px;
		padding: 4px;

		.duc_profile_badge {
			width: 22px;
			height: 22px;
		}
	}

	&.duc_user_profile {
		padding: 2px 4px;
		background-color: var(--profile-body-background-color);
		border-radius: 8px;
		margin-right: 16px;
		justify-content: flex-start;

		.duc_profile_badge {
			width: 24px;
			height: 24px;
		}
	}

	.duc_profile_badge {
		display: block;
		background-repeat: no-repeat;
		background-size: contin;
		background-position: center;
		overflow: hidden;
		pointer-events: none;
		object-fit: cover;
		filter: saturate(1);
	}
}
