.duc_profile_header {
	z-index: 1;
	margin-bottom: calc(-8px + .5*(var(--custom-user-profile-modal-header-avatar-size) + var(--custom-user-profile-modal-header-total-avatar-border-size)));

	.duc_profile_header_inner {
		position: relative;

		.duc_profile_header_positioner {
			position: absolute;
			top: 16px;
			right: 16px;
			width: calc(100% - 176px);
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}
	}
}

.duc_profile_body {
	height: 385px;
	max-height: 100%;
	margin: 16px;
	position: relative;
	background-color: var(--profile-body-background-color);
	border-radius: var(--radius-sm);
	display: flex;
	flex-direction: column;
	overflow: hidden;

	.duc_profile_body_inner {
		display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;

		.duc_custom_status {
			font-family: var(--font-primary);
			font-size: 14px;
			line-height: 1.2857142857142858;
			font-weight: 400;
			color: var(--header-secondary);
		}

		.duc_pronouns {
			color: var(--text-normal);
		}

		.duc_discriminator,
		.duc_user_tag_username {
			color: var(--header-secondary);
		}

		.duc_clan {
			display: none;
		};
	}
}

.duc_profile_tab_bar {
	border-bottom: 1px solid var(--profile-body-divider-color);
	margin: 20px 12px 0;
	padding: 0;
	font-family: var(--font-primary);

	.duc_profile_tab_bar_inner {
		align-items: stretch;
    display: flex;
    gap: 40px;
		flex-direction: row;

		.duc_profile_tab_bar_item {
			border-bottom-width: 2px;
			border-bottom-style: solid;
			border-bottom-color: transparent;
			color: var(--interactive-normal);
			display: inline;
			height: 39px;
			font-size: 14px;
			position: relative;
			line-height: 20px;
			cursor: pointer;
			font-weight: 500;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			flex-shrink: 0;

			&:hover {
				border-bottom-color: var(--interactive-hover);
			}

			&[aria-selected="true"] {
				border-bottom-color: var(--interactive-active);
				cursor: default;
				color: var(--interactive-active);
			}
		}
	}
}

.duc_profile_tab_scroller {
	overflow: hidden scroll;
	position: relative;
	box-sizing: border-box;
	min-height: 0;
	flex: 1 1 auto;

	&::-webkit-scrollbar-thumb,
	&::-webkit-scrollbar-track {
		visibility: hidden;
	}

	&:hover::-webkit-scrollbar-thumb,
	&:hover::-webkit-scrollbar-track {
		visibility: visible;
	}

	&[aria-hidden="true"] {
		display: none;
	}

	&.duc_profile_info_tab {
		padding: 0 4px 0 12px;
		height: 100%;
	}

	&.duc_profile_activity_tab {
		padding: 12px 0px;
		height: 100%;
		width: 100%;
	}
}
